@media screen and (min-width:1440px){
    /*----Section Principal-----*/
    .presentation__figure{
        margin: 9rem 11rem;
        padding:0;
        text-align:center;
    }
    .presentation__figure img{
        width: 100%;
        text-align: center;
    }
}
/* ---Tablet--- */

@media screen and (min-width:768px){

    .presentation__figure img{
        width: 100%;
        text-align: center;
    }
    .wrapper,
    .fc_wrapper--wrap{
        flex-wrap: nowrap;
    }
    .wrapper__info-wrapper{
        margin-left: 10px;
        width: 450px;
    }
    .fc_info-wrapper{
        margin-right: 0;
        margin-left: 10px;
    }
    .wrapper__image-wrapper{
        margin-left: 20px;
    }
    .fc__image-wrapper{
        /* margin-left: 0; */
        margin-right: 30px;
    }
}

/*----Mobile-----*/
@media screen and (max-width:480px){
    
    /*----Section Principal-----*/
    .header{
        margin: 0;
        padding:0 1.5rem;
        height: 10rem;
        display: flex;
        justify-content: space-between;
    }
    .header__logo{
        margin: 0;
        width: 10rem;
        height: 18px;
    }
    .header__button{
        margin: 0;
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
        margin: 0;
        width: 10rem;
        height: 3rem;
        font-size: 1.2rem
    }
    .presentation{
        margin: 2rem;
    }
    .presentation__title{
        margin-top: 6rem;
        margin-bottom: 2.5rem;
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: 2.8rem;
        font-weight: 700;
    }
    .presentation__text{
        font-size: 1.6rem;
        width: 34rem;
    }
    .btn{
        margin: 4rem;
    }
    .btn--pink,
    .rc-btn--pink{
        padding:0;
        width: 20rem;
        height: 4.4rem;
        font-size: 1.3rem;
    }
    .presentation__figure{
        margin: 7rem 1rem;
        padding:0;
        text-align:center;
    }
    .presentation__figure img{
        width: 100%;
        text-align: center;
    }
    .presentation__content-results{
        padding: 0;
        margin: 0 1rem;
    }
    .presentation__content-results__communities, 
    .presentation__content-results__messages{
        margin: auto;
        padding: 2rem;
    }
    .presentation__content-results__messages{
        margin-top: 6rem;
    }

    .presentation__content-results__communities__content-img, 
    .presentation__content-results__messages__content-img{
        margin: 0 12rem 0 0;
    }
    .presentation__content-results__communities__content-img img, 
    .presentation__content-results__messages__content-img img{
        width: 3rem;
    }
    .presentation__content-results_communities-number, 
    .presentation__content-results_messages-number{
        font-size: 7rem;
        margin: 0;
        color:hsl(192, 100%, 9%);
    }

    /*----Section Profits-----*/
    .gt__curve-top1-image{
        background: transparent url(/images/bg-section-top-mobile-1.svg) no-repeat 0 0;
        background-size: cover;
        width: 100%;
        height: 12rem;
    }
    
    .gt__curve-bottom1-image{
        background: transparent url(/images/bg-section-bottom-mobile-1.svg) no-repeat 0 0;
        background-size: cover;
        width: 100%;
        height: 7rem;
        margin-bottom: 8rem;
    }
    .yu__curve-top2-image{
        background: transparent url(/images/bg-section-top-mobile-2.svg) no-repeat 0 0;
        background-size: cover;
        width: 100%;
        height: 12rem;
        margin-top: 8rem;
    }
    .yu__curve-bottom2-image{
        background: transparent url(/images/bg-section-bottom-mobile-2.svg) no-repeat 0 0;
        background-size: cover;
        width: 100%;
        height: 12rem;
        margin-bottom: 8rem;
    }

    .gt,.fc,.yu{
        margin: 0;
    }
    .wrapper{
        margin: 0;
    }
    .fc__image-wrapper--color, .yu, .rc{
        background-color: transparent;
        width: 100%;
    }

    .wrapper__info-wrapper{
        margin: 6rem auto 5rem auto;
        width:30rem;
        text-align: center;
    }
    .wrapper__text{ 
        width: auto;
    }
    .fc_text p{
        margin: 1.3rem -1.7rem;
    }
    .wrapper__image-wrapper{
        margin: auto;
        width: 35rem;
    }
    .footer_img-cruve--top{
        background: url("/images/bg-section-bottom-mobile-1.svg") no-repeat top left,
        url("/images/bg-footer-top-mobile.svg") no-repeat bottom left;
        background-size: 100% 50px;
        padding: 20px 0;
    }
}