/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*----Header----*/
.header{
    margin-bottom: 50px;
    margin-top: 20px;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin: 50px 0px 40px 35px;
    padding: 10px;
    width: 200px;
}

.header__button{
    margin: 50px 60px 40px 0px;
    padding: 5px;
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: hsl(322, 100%, 66%);
}

/*----Principal Section----*/

.presentation{
    margin: 50px;
    /* border: 2px solid red; */
}

.presentation__title{
    margin-top: 20rem;
    font-size: 50px;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    text-align: center;
    
}
.presentation__text{
    margin: auto;
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
    text-align: center;
}

.presentation__content-btn{
    margin: 50px;
    text-align: center;
}
.presentation__content-btn--pink{
    padding: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    background-color:hsl(322, 100%, 66%);
    width: 300px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 2px 2px 15px grey;
}
.presentation__content-btn--pink a{
    text-decoration: none;
    color: white;
}

.presentation__figure{
    margin: 50px 90px;
    padding: 50px;
    text-align: center;
}

.presentation__figure img{
    width: 100%;
    text-align: center;
}

.presentation__content-results{
    margin: 0 50px;
    padding: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.presentation__content-results__communities, 
.presentation__content-results__messages{
    margin: auto;
    padding: 20px;
    /* border: 2px solid palevioletred; */
}

.presentation__content-results__communities__content-img, 
.presentation__content-results__messages__content-img{
    margin: 0 19rem 0 0;
}

.presentation__content-results__communities__content-img img, 
.presentation__content-results__messages__content-img img{
    width: 40px;
}

.presentation__content-results_communities-number, 
.presentation__content-results_messages-number{
    font-size: 9rem;
    margin: 0;
    color:hsl(192, 100%, 9%);
}

.presentation__content-results__communities p, 
.presentation__content-results__messages p{
    font-size: 2rem;
    font-weight: 400;
    color: #7d8597;
}

/*----Section Profits-----*/

.profits{
    /* border: 2px solid purple; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profits__curve-top1-image{
    background: transparent url(/images/bg-section-top-desktop-1.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.profits__curve-bottom1-image{
    background: transparent url(/images/bg-section-bottom-desktop-1.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
}
.profits__curve-top2-image{
    background: transparent url(/images/bg-section-top-desktop-2.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-top: 80px;
}
.profits__curve-bottom2-image{
    background: transparent url(/images/bg-section-bottom-desktop-2.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
}

.profits__gt-wrapper,
.profits__flowingc-wrapper,
.profits_you-users-wrapper{
    padding: 0 4px;
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: hsl(207, 100%, 98%);
    /* background-color: hsl(207, 100%, 98%); */
    /* box-shadow: 2px 2px 15px grey; */
}
.profits__text-wrapper{
    /* border: 2px solid purple; */
    margin: auto 12px auto 170px;
    width: 450px;
  
}

.profits__title-wrapper{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color:hsl(192, 100%, 9%);

}
.profits__text-wrapper p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}
.you-users p{
    width: 459px;
}

.profits__image-wrapper{
    margin: auto 122px;
    padding: 20px;
    width: 400px;
    background-color: hsl(207, 100%, 98%);
}
.profits__image-wrapper img{
    background-color: hsl(207, 100%, 98%);
    width: 100%;
}
.flowingc, .flowingc img{
    background-color: transparent;
}

