@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* * {
  border: solid;
} */

html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*----Header----*/
.header{
    margin-bottom: 50px;
    margin-top: 20px;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin: 50px 0px 40px 35px;
    padding: 10px;
    width: 200px;
}

.header__button{
    margin: 50px 60px 40px 0px;
    padding: 5px;
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    color: hsl(322, 100%, 66%);
}

/*----Principal Section----*/

.presentation{
    margin: 50px;
    /* border: 2px solid red; */
}

.presentation__title{
    margin-top: 20rem;
    font-size: 50px;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.presentation__text{
    margin: auto;
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
    text-align: center;
}

.btn{
    margin: 50px;
    text-align: center;
}
.btn--pink,
.rc-btn--pink{
    padding: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    background-color:hsl(322, 100%, 66%);
    width: 300px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 2px 2px 15px grey;
}
.btn--pink--link{
    text-decoration: none;
    color: white;
}

.presentation__figure{
    margin: 50px 90px;
    padding: 50px;
    text-align: center;
}

.presentation__figure img{
    width: 100%;
    text-align: center;
}

.presentation__content-results{
    margin: 0 50px;
    padding: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.presentation__content-results__communities, 
.presentation__content-results__messages{
    margin: auto;
    padding: 20px;
    /* border: 2px solid palevioletred; */
}

.presentation__content-results__communities__content-img, 
.presentation__content-results__messages__content-img{
    margin: 0 19rem 0 0;
}

.presentation__content-results__communities__content-img img, 
.presentation__content-results__messages__content-img img{
    width: 40px;
}

.presentation__content-results_communities-number, 
.presentation__content-results_messages-number{
    font-size: 9rem;
    margin: 0;
    color:hsl(192, 100%, 9%);
}

.presentation__content-results__communities p, 
.presentation__content-results__messages p{
    font-size: 2rem;
    font-weight: 400;
    color: #7d8597;
}

/*----Section Profits-----*/

.gt__curve-top1-image{
    background: transparent url(/images/bg-section-top-desktop-1.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
}

.gt__curve-bottom1-image{
    background: transparent url(/images/bg-section-bottom-desktop-1.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
}
.yu__curve-top2-image{
    background: transparent url(/images/bg-section-top-desktop-2.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-top: 80px;
}
.yu__curve-bottom2-image{
    background: transparent url(/images/bg-section-bottom-desktop-2.svg) no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
}

.gt,.fc,.yu,.rc{
    /* border: 2px solid purple; */
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(207, 100%, 98%);
}

.wrapper{
    padding: 0 4px;
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: hsl(207, 100%, 98%);
}
.fc_wrapper--wrap{
    flex-wrap: wrap;
    background-color: transparent;
}

.fc-white,
.rc-btn{
    background-color: white;
}

.wrapper__info-wrapper{
    margin-right: 50px;
    width: 450px;
}
.fc_info-wrapper{
    margin-right: 0;
    margin-left: 50px;
}

.wrapper__title{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color:hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
}
.rc__tittle{
    margin-bottom: 64px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.wrapper__text{
    font-size: 16px;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}
.yu__text--width{
    width: 459px;
}

.wrapper__image-wrapper{
    margin-left: 50px;
    padding: 20px;
    width: 400px;
}
.fc__image-wrapper{
    margin-left: 0;
    margin-right: 50px;
}

.wrapper__image-wrapper--width{
    background-color: hsl(207, 100%, 98%);
    width: 100%;
}
.fc__image-wrapper--color, .rc{
    background-color: transparent;
    width: 100%;
}

.rc__wrapper{
    margin: auto;
}
.rc__wrapper--center{
    text-align: center;
}


.footer_img-cruve--top{
    background: url(/images/bg-footer-top-desktop.svg) no-repeat 0 0;
    margin-top: 150px;
    width: 100%;
    height: 160px;
    background-size: cover;
}
.footer{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: hsl(192, 100%, 9%);
}
.footer__logo, .footer__logo path{
    fill: seashell;    
}
.footer__info{
    width: 300px;
}
.footer__text{
    width: 265px;
    color: white;
    font-size: 15px;
}
.text-phone,.text-email{
    display: inline-block;
}

.footer__icon{
    margin-right: 10px;
    width:15px;
}

.footer__newsletter{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 300px;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
}
.newsl_text{
    width: 333px;
}
.footer_input{
    padding: 10px 25px;
    width: 246px;
    height: 20px;
    border-radius: 5px;   
}
.subscribe-btn--pink{
    margin-top:15px;
    padding: 10px;
    width: 150px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 4px;
    background-color:hsl(322, 100%, 66%);
    box-shadow: 1px 2px 15px rgb(0 0 0 / 43%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    float: right
}

.social{
    margin-top: 25px;
}
.social_icon{
    margin-right: 20px;
    width: 20px;
}